<h1>Unscramble</h1>
<section class='unscramble'>
  <div class='board'>
    <% 0.upto(4) do |row| %>
      <div>
        <% 0.upto(4) do |col| %>
          <button id='cell-<%= row %>-<%= col %>' class='die'>
            <%= @board[row][col] %>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
  <h2>Your Words</h2>
  <textarea></textarea>
</section>
<script src="/js/unscramble.js"></script>
