<!DOCTYPE html>
<html>
  <head>
    <title>Mikey's Games</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='/favicon.ico' rel='icon' sizes='16x16 32x32 64x64'>
    <link href='/css/icomoon.css' rel='stylesheet' type='text/css'>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link href='/css/pathwords.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <a href='/' title='Home'>
          <img class='icon' src='/dice.png'>
        </a>
        <h1>Mikey's Games</h1>
      </nav>
    </header>
    <main role='main'>
      <%= yield %>
    </main>
  </body>
</html>
