<div class='board'>
  <% 0.upto(3) do |row| %>
    <div>
      <% 0.upto(3) do |col| %>
        <button id='cell-<%= row %>-<%= col %>' class='die'>
          *
        </button>
      <% end %>
    </div>
  <% end %>
</div>
