<h1>Pathwords</h1>
<section class='pathwords'>
  <% if @game %>
    <a href="/pathwords/play">Join the Game</a>
  <% else %>
    <button>Start a Game</button>
  <% end %>
</section>
<script src="/js/pathwords/play.js"></script>
