<h1>Pathwords</h1>
<p><span id="player-count">-</span> players have joined the game</p>
<p>
  <button id='join'>Join Game</button>
</p>
<section class='pathwords'>
  <%= erb :"pathwords/board" %>
  <h2>Your Words</h2>
  <textarea></textarea>
</section>
<script src="/js/pathwords/play.js"></script>
