<h1>Pathwords</h1>
<% if @game.players_expected == 0 %>
  <form action='/pathwords/player_expect' method='POST'>
    <label>
      Number of Players
      <input name='players-expected' type='number' required />
    </label>
    <button>Set Number of Players</button>
  </form>
<% else %>
  <p>
    <span id='player-count'><%= @game.player_count %></span> / 
    <span id='players-expected'><%= @game.players_expected %></span>
    players have joined the game
  </p>
<% end %>
<% unless @player %>
  <form action='/pathwords/player_join' method='POST'>
    <label>
      Player Name
      <input name='player-name' type='text' required />
    </label>
    <button>Join Game</button>
  </form>
<% end %>
<section class='pathwords'>
  <%= erb :"pathwords/board" %>
  <h2>Your Words</h2>
  <textarea></textarea>
</section>
<script src='/js/pathwords/play.js'></script>
