<main class='pathwords player'>
  <div class='stage-0'>
    <% if @game.players_expected == 0 %>
      <form action='/pathwords/player_expect' method='POST'>
        <label>
          Number of Players
          <input name='players-expected' type='number' required />
        </label>
        <button>Set Number of Players</button>
      </form>
    <% else %>
      <p>
        <span id='player-count'><%= @game.player_count %></span> / 
        <span id='players-expected'><%= @game.players_expected %></span>
        players have joined the game
      </p>
    <% end %>
  </div>
  <div class='stage-1' style='display:none;'>
    Game starts in <span id='starts-in'>15</span> seconds
  </div>
  <div class='stage-2' style='display:none;'>
    <span id='time-left'>180</span> seconds left 
  </div>
  <div class='stage-3' style='display:none;'>
    GAME OVER
  </div>
  <% unless @player %>
    <form action='/pathwords/player_join' method='POST'>
      <label>
        Player Name
        <input name='player-name' type='text' required />
      </label>
      <button>Join Game</button>
    </form>
  <% end %>
  <section class='pathwords'>
    <%= erb :"pathwords/board" %>
    <h2>Your Words</h2>
    <textarea></textarea>
  </section>
</main>
<script src='/js/pathwords/play.js'></script>
