<h1>Pathwords</h1>
<p id='players-needed'>
  Please enter a number of players to expect on your player screen
</p>
<p id='players-joining' style='display:none;'>
  <span id='player-count'>-</span> / 
  <span id='players-expected'>-</span>
  players have joined the game
</p>
<section class='pathwords'>
  <%= erb :"pathwords/board" %>
  <h2>Players</h2>
  <ul id='players'></ul>
</section>
<script src="/js/pathwords/serve.js"></script>
