<main class='pathwords server'>
  <section id='game'>
    <h2>The Game</h2>
    <div class='big-info stage-1' style='display:none;'>
      Game starts in: <span id='starts-in'><%= @game.get_timer %></span> seconds
    </div>
    <div class='big-info stage-2' style='display:none;'>
      Time left: <span id='time-left'><%= @game.get_timer %></span> seconds
    </div>
    <div class='big-info game-over stage-3' style='display:none;'>
      GAME OVER
    </div>
    <%= erb :"pathwords/board" %>
  </section>
  <section id='players'>
    <h2>Players</h2>
    <div class='stage-0' style='display:none;'>
      <p id='players-needed'>
        Please enter a number of players to expect on your player screen
      </p>
      <p id='players-joining' style='display:none;'>
        <span id='player-count'>-</span> / 
        <span id='players-expected'>-</span>
        players have joined the game
      </p>
    </div>
    <ul id='player-list'></ul>
  </section>
</main>
<script src="/js/pathwords/serve.js"></script>
