<h1>Pathwords</h1>
<p>Waiting for players to join</p>
<p id='player-count'>-</p>
<section class='pathwords'>
  <%= erb :"pathwords/board" %>
  <h2>Players</h2>
  <ul id='players'></ul>
</section>
<script src="/js/pathwords/serve.js"></script>
