.pathwords .big-info {
  font-family: ShareTechMono;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.pathwords .big-info.game-over {
  font-family: FredokaOne;
}

.pathwords .board {
  border: 3px solid black;
  display: table;
  margin-bottom: 2rem;
}

.pathwords .board .row {
  display: table-row;
}

.pathwords .board .die {
  display: table-cell;
  font-size: 2.5rem;
  font-weight: bold;
  width: 5rem;
  height: 5rem;
  margin: 0;
  border: 1px solid black;
}

.pathwords.server {
  display: flex;
  flex-direction: row;
}

.pathwords.server section {
  flex:auto;
}

.pathwords textarea {
  width: 16rem;
  height: 20rem;
  border: 2px solid black;
}