.pathwords .board {
  border: 3px solid black;
  display: table;
}

.pathwords .board .row {
  display: table-row;
}

.pathwords .board .die {
  display: table-cell;
  /* padding: 1.33rem; */
  width: 3rem;
  height: 3rem;
  margin: 0;
  border: 1px solid black;
}

.pathwords textarea {
  width: 16rem;
  height: 20rem;
  border: 2px solid black;
}