.unscramble .board {
  margin: 2rem;
  border: 3px solid black;
  display: table;
}

.unscramble .board .row {
  display: table-row;
}

.unscramble .board .die {
  display: table-cell;
  padding: 1.33rem;
  margin: 0;
  border: 1px solid black;
}

.unscramble textarea {
  margin-left: 2rem;
  width: 16rem;
  height: 20rem;
  border: 2px solid black;
}