<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }} @ Mikey's Games</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' type='text/css' href='/css/site.css'>
    <link href="https://fonts.googleapis.com/css2?family=Kadwa&display=swap" rel="stylesheet">
</head>

<body>
    <h1><a href="/">{{ site.title }}</a> / {{ page.title }}</h1>
    {{ content }}
    <footer>
        Mikey's Games is <a href="/readme.html">copyright &copy; 2020, Michael C. Libby</a>. 
        Free software under GPL-3. 
        <a href="https://github.com/mlibby/MikeysGames">Get the source code</a>.
    </footer>
</body>

</html>