%h1 Welcome! Welcome!
%p
  Welcome to Mikey's Games.
%p 
  Mikey's Games is a collection of fun family games intended to
  get the family together in the living room or family room,
  using a TV as a main screen and everyone's phones or tablets
  as controllers.